
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fa;
    color: #333;
}


.header {
    padding-inline: 16px;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.nav-direita {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Botão verde padrão */
.verde {
    background: #8BB86B;
    color: white;
    border: none;
}

.verde:hover {
    background: #6fa55a;
}


.login-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.login-card {
    background: white;
    width: 420px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.login-card h2 {
    text-align: center;
    color: #73994f;
    margin-bottom: 25px;
}

/* Inputs */
label {
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

input:focus {
    border-color: #8BB86B;
    box-shadow: 0 0 4px rgba(139,184,107,0.5);
}

.full {
    width: 100%;
    margin-top: 10px;
}


.link-texto {
    text-align: center;
    margin-top: 15px;
}

.link-texto a {
    color: #73994f;
    font-weight: bold;
    text-decoration: none;
}

.link-texto a:hover {
    text-decoration: underline;
}



.footer {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

